@import  'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

#title {
  text-align: left;
  font-family: arial, sans-serif;
  font-size: 1px;
}

#users {
  text-align: left;
  border-collapse: collapse;
  border: 3px solid white;
  width: 100%;
}

#users td, #users th {
  padding: 3px;
  padding-left: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 13px;
}

#generaltab {
  text-align: left;
  border-collapse: collapse;
  border: 3px solid white;
  width: 100%;
}
#generaltab td {
  padding: 3px;
  padding-left: 10px;
  font-size: 13px;
}

#users tr:hover {background-color: #ddd;}

#users th {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  border: 1px solid #ddd;
  text-align: left;
  background-color: rgb(219, 217, 211);
  color: black;
}


.myButton{
width:150px;
height: 30px;
background-color: rgb(240, 237, 230);
text-align: center;
font-size: 14px;
padding-top: 6px;
}


.useclass{
position:absolute;
margin-top: 4px;
height:650px !important;
border-right :1px solid  rgb(219, 217, 211);
background-color: rgb(59, 58, 56);
}

.AddButton{
margin-top:20px;
margin-right:9%;
margin-top: 39px;
margin-right: 13px;
float:right;
margin-bottom:20px;
}

.myTable{
  margin-left: 160px;
  margin-right: 13px;

}

.panel-footer{
  margin-left: 87%;
  font-size: 10px;
  margin-top: 10%;

}

.box123{
  border-width: 1px;
    border-color:rgb(240, 237, 230) ;
    border-style: solid;
    padding: 13px;
    background-color: white;

}
.UserManagement{
  width: 10px;
  height: 50px;
  font-size: 15px;
}

.bg-dark {
    background-color: rgb(0, 0, 0)!important;
}

/* .CompPage{background-color: rgb(219, 217, 211);} */

body{background-color: rgb(219, 217, 211);}



.panel{;

margin-top: 0px;}


.navbar{height: 55px;
}

.hamburger{margin-bottom: 13px;
}

.panel-heading{
margin-left: 155px;
border-bottom: 1px solid rgb(172, 175, 181);
}

.manageuser{margin-top: 30px; background-color: white;
    border-bottom: 1px;
  margin-left: 2px;}

.managepanel{background-color: rgb(233, 235, 240);
text-align: left;
margin-left: 1px;}


.heading2{ background-color: rgb(242, 244, 247);
    border-bottom-color: rgb(242, 244, 247);
    margin-left: 1px;
  }

.heading3{
  background-color: white;
      border-bottom-color: rgb(242, 244, 247);
      margin-left: 1px;
      height: 24px;
      margin-top: -16px;
}

.userdetail{border: 2px solid rgb(233, 235, 240);
  margin-left: 12px;
    margin-right: 12px;
    padding: 9px;
    margin-top: 11px;
    font-size: 13px;
}


.adduser{padding: 4px;}

.submitnew{ margin-left: 92%;
margin-top: 4%;
}

.general{margin-bottom: -13px;
    margin-left: 12px;
    margin-right: 11px;
  margin-top: 0px;}


.block{ width: 50%;

}

.submitupdate{
  margin-left: 90%;

}

.cancelupdate{
  margin-left: 95%;

}
.form-group{margin-top: -35px;
}
